#mapid { height: 280px; }

.table-layout {
    margin: 25px 0;
}

.primary-btn {
    margin: 15px 0;
}

.serverlist-content {
    padding: 5px 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}